Source: mmmake
Section: unknown
Priority: extra
Maintainer: Marcos Mayorga <mm@mm-studios.com>
Build-Depends: debhelper (>= 7), xsltproc 
Standards-Version: 3.8.1
Homepage: http://mm-studios.com

Package: mmmake
Architecture: any
Depends: cmake, libc6 (>= 2.2), libgcc1 (>= 1:4.1.1), libglib2.0-0 (>= 2.12.0), libglibmm-2.4-1c2a (>= 2.20.0), libsigc++-2.0-0c2a (>= 2.0.2), libstdc++6 (>= 4.2.1), libxml++2.6-2 (>= 2.24.0), libxml2 (>= 2.6.27)
Description: C00L build T00L for C++ projects
 MMmake is a cool build tool for C++ projects


